{% assign grouped = include.collection | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% if include.reverse_years %}
  {% assign grouped = grouped | reverse %}
{% endif %}

<ul class="taxonomy__index">
  {% for year in grouped %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for year in grouped %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% if include.sort_items %}
        {% assign items = year.items | sort: 'date' | reverse %}
      {% else %}
        {% assign items = year.items %}
      {% endif %}
      {% for post in items %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
