{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="book__item" onclick='move("{{post.url|relative_url}}")'>
  <div class="book__image">
    <img src="/images/books/{{title}}.png" alt="이미지">
  </div>
  <div class="book__title">
    <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
  </div>
</div>

<script>
  function move(url) {
    const element = document.createElement('a');
    element.href = url;
    element.click();
  }
</script>