.books {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}

.book {
  &__item {
    width: 30%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;

    cursor: pointer;
  }

  &__image {
    height: calc(100% * 3 / 4);

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    text-align: center;
  }
}
