.vertical__top {
    display: flex;
    justify-content: center;
    align-items: start;
}

.image__border {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.image__padding {
    padding: 1rem;
}

.image__margin-right {
    margin-right: 1rem;
}

.personal {
    display: none;
    
    & h2.personal-name {
        border-bottom: initial;
        margin-bottom: 0.35rem;
        padding-bottom: 0;
    }

    &__information {
        & span::after {
            content: '\00000a';
            white-space: pre-wrap;
        }
    }
}

.resume-header {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & .reusme__company {
        margin: 0;
        padding: 0;

        &--team-role,
        &--period {
            font-size: 0.75em;
            color: #777;
        }

        &--period::before {
            content: '\00000a';
            white-space: pre-wrap;
        }
    }
}

@media all and (max-width: 900px) {
    .image__border {
        border-radius: 5px;
    }
}

.grid {
    width: 100%;
    display: grid;
    gap: 10px;
}

.column-2 {
    grid-template-columns: 1fr 1fr;
}

.column-3 {
    grid-template-columns: 1fr 1fr 1fr;
}