.vertical__top {
    display: flex;
    justify-content: center;
    align-items: start;
}

/* list indent: half of browser default (40px → 24px) */
.page__content {
  ul, ol {
    padding-left: 1.75em;
  }
}

@media all and (max-width: 768px) {
  .page__content {
    ul, ol {
      padding-left: calc(30 * 100vw / 720);
    }
  }
}

@media all and (max-width: 1024px) {
  .page__content {
    ul, ol {
      padding-left: calc(50 * 100vw / 1024);
    }
  }
}

.image__border {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.image__padding {
    padding: 1rem;
}

.image__margin-right {
    margin-right: 1rem;
}

.personal {
    display: none;
    
    & h2.personal-name {
        border-bottom: initial;
        margin-bottom: 0.35rem;
        padding-bottom: 0;
    }

    &__information {
        & span::after {
            content: '\00000a';
            white-space: pre-wrap;
        }
    }
}

.resume-header {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & .reusme__company {
        margin: 0;
        padding: 0;

        &--team-role,
        &--period {
            font-size: 0.75em;
            color: #777;
        }

        &--period::before {
            content: '\00000a';
            white-space: pre-wrap;
        }
    }
}

@media all and (max-width: 900px) {
    .image__border {
        border-radius: 5px;
    }
}

.grid {
    width: 100%;
    display: grid;
    gap: 10px;
}

.column-2 {
    grid-template-columns: 1fr 1fr;
}

.column-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.my-books {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1.5rem;

    & a {
        display: block;
        width: 13.25rem;
    }

    & img.mobile {
        display: block;
    }

    & img.pc {
        display: none;
    }
    
    &.pc {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
        margin-top: 1.5rem;

        & a {
            width: 80%;
        }

        & img.mobile {
            display: none;
        }

        & img.pc {
            display: block;
        }
    }
}