
.image__border {
    border: 1px solid #ccc; border-radius: 10px;
}

.image__padding {
    padding: 1rem;
}

@media all and (max-width: 900px) {
    .image__border {
        border-radius: 5px;
    }
}
