---
layout: archive
classes: wide
---

{{ content }}

<h2>Junhyunny's Devlogs</h2>

<div>
    <div>안녕하세요, 강준현입니다. 저는 시니어 소프트웨어 엔지니어이자 작가로 활동하고 있습니다. 제가 얻은 통찰과 경험들을 공유하기 위해 블로그에 글을 쓰는 것을 즐깁니다. 저서는 아래 링크에서 확인하실 수 있습니다.</div>
    <ul>
        <li><a href="https://www.yes24.com/product/goods/180391041">안쪽까지 들여다보는 스프링 시큐리티</a></li>
    </ul>
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
        {% include archive-single.html type=entries_layout %}
    {% endfor %}
</div>

{% include paginator.html %}
