---
layout: archive
classes: wide
---

{{ content }}

<h2>Junhyunny's Devlogs</h2>

<div>
    안녕하세요, 개발자 강준현입니다. 저의 일상과 개발 관련 정보를 공유하는 블로그입니다. 
</div>

<br>

<div>
    안녕하세요. 블로그 운영자 강준현입니다. <br>
    현재 제가 속한 VMware 주관으로 KB국민은행 서비스 개발을 위해 간단한 설문 조사를 진행하고 있습니다. <br>
    아래 설문지를 작성해 주신 분들 중 몇 분들과 약 한 시간 동안 화상으로 인터뷰를 진행하고자 합니다. <br>
    <b>인터뷰에 참여하신 분들께</b>는 소중한 시간을 내어주신 감사한 마음과 함께 사례를 드릴 예정입니다. <br>
    많은 참여 부탁드립니다. <br>
    참여 링크 - <a href="https://forms.gle/6m2K2BAhwKr9yKAM6">인터뷰 관련 설문 조사</a>
</div>

<br>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
        {% include archive-single.html type=entries_layout %}
    {% endfor %}
</div>

{% include paginator.html %}
